.oval {
  top: 265px;
  right: -706px;
  bottom: -265px;
  left: 706px;
  border-radius: var(--br-59xl);
  background-color: var(--color-gray-100);
  z-index: 2;
}
.frame-child8,
.frame-child9,
.oval {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.frame-child8 {
  top: 253px;
  right: -691px;
  bottom: -253px;
  left: 691px;
  border-radius: var(--br-56xl);
  background-color: var(--color-white);
  box-shadow: 0 0 12.2px rgba(0, 0, 0, 0.25);
  z-index: 3;
}
.frame-child9 {
  top: 190px;
  right: -157px;
  bottom: -190px;
  left: 157px;
  border-radius: var(--br-40xl);
  background-color: var(--color-mediumaquamarine);
  z-index: 5;
}
.curve {
  height: 94px;
  position: relative;
  display: inline-block;
  min-width: 51px;
  z-index: 6;
}
.rectangle-parent10,
.star {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent10 {
  flex-direction: row;
  padding: var(--padding-29xl) var(--padding-34xl);
  position: relative;
}
.star {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.continued-expansion-of,
.fast-charging-solutions {
  font-family: var(--font-helvetica);
}
.continued-expansion-of-fast-ch {
  margin: 0;
}
.continued-expansion-of-container {
  margin: 0;
  height: 205px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-17xl);
  letter-spacing: 0.04em;
  color: var(--color-darkgray-100);
  display: inline-block;
  min-width: 311px;
  max-width: 100%;
  z-index: 4;
  font-family: var(--font-helvetica);
}
.oval-parent,
.rectangle-parent9 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent9 {
  flex: 1;
  flex-wrap: wrap;
  padding: var(--padding-6xl) var(--padding-9xs) var(--padding-4xl)
    var(--padding-4xl);
  position: relative;
  gap: var(--gap-10xl);
}
.oval-parent {
  position: absolute;
  top: 0;
  left: 474px;
  width: 706px;
  padding: var(--padding-7xs) var(--padding-7xs) var(--padding-7xs)
    var(--padding-4xs);
}
.frame-child10 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-165xl);
  width: 669px;
  height: 185px;
  object-fit: contain;
  z-index: 1;
}
.present {
  margin: 0;
  position: absolute;
  top: 75px;
  left: 119px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 254px;
  height: 38px;
  z-index: 2;
}
.vector-group {
  position: absolute;
  top: 34px;
  left: 0;
  width: 669px;
  height: 185px;
  text-align: center;
  font-size: var(--font-size-21xl);
  font-family: var(--font-helvetica);
}
.frame-parent9 {
  height: 265px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.callout {
  width: 1186px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs) var(--padding-49xl) var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-77xl);
  color: var(--color-white);
  font-family: var(--font-gilroy-bold);
}
@media screen and (max-width: 750px) {
  .curve {
    font-size: var(--font-size-29xl);
  }
  .continued-expansion-of-container {
    font-size: var(--font-size-10xl);
  }
  .present {
    font-size: var(--font-size-13xl);
  }
  .frame-parent9 {
    height: auto;
    min-height: 265;
  }
}
@media screen and (max-width: 450px) {
  .curve {
    font-size: var(--font-size-10xl);
  }
  .continued-expansion-of-container {
    font-size: var(--font-size-3xl);
  }
  .present {
    font-size: var(--font-size-5xl);
  }
}
